:root{
    --bg-color1: #000fb0;
    --bg-color2: #ffffff;
    --bg-color3: #4e6fb6;
    --bg-color4: #1466ff;
    --bg-colorFundo: #f0f0f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: var(--bg-colorFundo);
    display: flex;
}

/* MENU */

.menu{
    width: 250px;
    min-height: 100vh;

    background-color: var(--bg-color1);

    padding: 20px;
}

.logoJovi{
    text-align: center;
}

#logo{
    width: 120px;
}

.logoJovi h2{
    color: white;
    margin-top: 10px;
}

.menu-links{
    margin-top: 40px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.menu a{
    text-decoration: none;

    color: white;

    background-color: var(--bg-color3);

    padding: 12px;

    border-radius: 8px;

    text-align: center;
}

.menu a.ativo{
    background-color: var(--bg-color4);
}

/* CONTEÚDO */

#comunidade{
    padding: 30px;
    width: 100%;
}

#comunidade h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

#comunidade p {
    color: grey;
}

#comunidade button{
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: var(--bg-color4);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;

}
.topoComunidade{
    display: flex;

    justify-content: space-between;

    align-items: center;

    width: 100%;
}
.topoComunidade div{
    display: flex;
    flex-direction: column;
}



#formulario{
    display: none;

    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 400px;

    background-color: white;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

#formulario #fechar{
    width: 30px;
    height: 30px;

    border-radius: 50%;

    background-color: var(--bg-color4);
    color: white;

    cursor: pointer;

    position: absolute;

    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario form{
    display: flex;
    flex-direction: column;

    gap: 12px;
}

#formulario input,
#formulario select{
    padding: 10px;

    border-radius: 8px;

    border: 1px solid #ccc;
}



